*{
  scroll-behavior: smooth;
}


.globalmsg{
  background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%,rgba(108,148,255,.92) 0,rgba(0,0,0,.92) 100%);
    color: white !important;
    height: 3rem;
}


.main{
background: url(./assets/tesla.jpg);
background-size: cover;
min-height: 100vh;

@media screen and (max-width : 600px){
  .main {
    background-size: cover;
    }
}
}


.button{
  width: 13rem;
  height: 3rem;
  color: white;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  transition: 0.1s background-color linear, 0.1s color linear;
  border-radius: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.button:hover{
  border-color: greenyellow;
}

.button-div{
  height: 22rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
.page2{
  background: url(../src/assets/model3.png);
  background-size: cover;
  min-height: 100vh;
  background-position: cover;
}
.page3{
  background: url(../src/assets/modelY.png);
  background-size: cover;
  min-height: 100vh;
}
.page4{
  background: url(../src/assets/modelS.png);
  background-size: cover;
  min-height: 100vh;
}
.pageX{
  background: url(../src/assets/modelX.png);
  background-size: cover;
  min-height: 100vh;
}
.page5{
  background: url(../src/assets/SolarPanel.png);
  background-size: cover;
  min-height: 100vh;
}
.page6{
  background: url(../src/assets/SolarRoof.png);
  background-size: cover;
  min-height: 100vh;
}
.page7{
  background: url(../src/assets/PowerWall.png);
  background-size: cover;
  min-height: 100vh;
}
.page8{
  background: url(../src/assets/Accessories.png);
  background-size: cover;
  min-height: 100vh;
}

.pointer{
  cursor: pointer;
}

/* ScrollToTopButton.css */

.scroll-to-top-container {
  
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.scroll-to-top-transition {
  transition: opacity 0.2s;
}

.scroll-to-top-toggled {
  opacity: 1 !important;
}

css-eSWDUO {
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-width: 0px;
  border-style: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  margin: 0px;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 38px;
  color: rgb(0, 0, 0);
  gap: 8px;
  padding: 14px;
  background: rgb(255, 255, 255);
  transition: all 500ms ease 0s;
  transform: translateY(2px);
}