*{
  scroll-behavior: smooth;
}


.globalmsg{
  background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%,rgba(108,148,255,.92) 0,rgba(0,0,0,.92) 100%);
    color: white !important;
    height: 3rem;
}


.main{
background: url(./assets/tesla.jpg);
background-size: cover;
min-height: 100vh;

@media screen and (max-width : 600px){
  .main {
    background-size: cover;
    }
}
}


.button{
  width: 13rem;
  height: 3rem;
  color: white;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  transition: 0.1s background-color linear, 0.1s color linear;
  border-radius: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.button:hover{
  border-color: greenyellow;
}

.button-div{
  height: 22rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
.page2{
  background: url(../src/assets/model3.png);
  background-size: cover;
  min-height: 100vh;
  background-position: cover;
}
.page3{
  background: url(../src/assets/modelY.png);
  background-size: cover;
  min-height: 100vh;
}
.page4{
  background: url(../src/assets/modelS.png);
  background-size: cover;
  min-height: 100vh;
}
.pageX{
  background: url(../src/assets/modelX.png);
  background-size: cover;
  min-height: 100vh;
}
.page5{
  background: url(../src/assets/SolarPanel.png);
  background-size: cover;
  min-height: 100vh;
}
.page6{
  background: url(../src/assets/SolarRoof.png);
  background-size: cover;
  min-height: 100vh;
}
.page7{
  background: url(../src/assets/PowerWall.png);
  background-size: cover;
  min-height: 100vh;
}
.page8{
  background: url(../src/assets/Accessories.png);
  background-size: cover;
  min-height: 100vh;
}

.pointer{
  cursor: pointer;
}


.bout-icon-transition {
  transition: opacity 0.2s;
}

.bout-icon-toggled {
  opacity: 1 !important;
  
}



.about-icon{
  background: #e1eae7ca;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-text{
  position: absolute;
  bottom: 45px;
  left: -50%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  display: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}
.button-text:hover{
  display: block;
}

.btn-txt {
  color: rgb(0, 0, 0);
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.scrolltop:hover .button-text {
  visibility: visible;
  opacity: 1;
}